.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  flex: 5;
}

.leftContainer {
  display: flex;
  flex: 3;
}
.rightContainer {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -2.5%;
  line-height: 64px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #adb2b1;
  line-height: 24px;
  text-overflow: ellipsis;
}

.subtitleContainer {
  width: 60%;
}

.btnConnect {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  background-color: #2bb32a;
  border-radius: 64px;
  border: 2px solid #2bb32a;
  width: 235px;
}

.cardContainer1 {
  position: absolute;
  top: -30px;
  right: 30px;
  z-index: 10;
}

.cardContainer2 {
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: 5;
}
.cardContainer3 {
  position: absolute;
  top: 195px;
  right: 30px;
  z-index: 0;
}

.warper {
  margin: 0;
  padding: 0;
  backdrop-filter: blur(10px);
  transform: skewX(-20deg);
  //transform: rotate(17deg) skewY(-11deg) skewX(-15deg);
  border-radius: 40px;
}
