@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      farthest-side at top right,
      rgba(105, 0, 255, 0.5),
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(255, 50, 50, 0.5),
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at right,
      rgba(4, 236, 20, 0.5),
      transparent 400px
    ),
    radial-gradient(
      farthest-corner at left,
      rgba(240, 164, 222, 0.5),
      transparent 4000px
    );
}
