.containerSliderBanner {
  position: relative;
  min-height: 540px;
}

.containerSliderPersonalSection {
  position: relative;
  height: 520px;
}

.circleCustomStyle {
  position: absolute;
  bottom: 0px;
  right: -150px;
}

.svg {
  margin: 0 auto;
  display: block;
  transform: rotate(20deg);
}
