.btnConnect {
  font-size: 16px;
  color: #2bb32a;
  font-weight: 700;
  display: flex;
  padding: 1px 32px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.btnContainer {
  background-color: transparent;
  border-radius: 64px;
  border: 2px solid #2bb32a;
}
